<div class="contenedor-home">
  <div class="row justify-content-center mb-4 mt-5">
    <div class="col-auto">
      <h4 class="text-center">What can we get for you for?</h4>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-md-6 col-lg-4">
      <form method="GET" action="/client/home">
        <div class="input-group">
          <input type="text" name="typeFilter" class="form-control" placeholder="fast food" />
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-search"></i> Search
          </button>
        </div>
      </form>
    </div>
  </div>

  {{#if hasBusinessTypes}}
  <div class="row justify-content-center gap-3">
    {{#each businessTypeList}}
    <form method="GET" action="/client/storesList" class="col-auto">
      <div class="col-12 col-sm-3">
        <button type="submit" name="Type" value="{{this.id}}" class="btn-client-style">
          <img src="{{this.icono}}" alt="{{this.nombre}} logo" height="200px" width="200px" class="btn-img-style">
          <div class="btn-name-style">
            <h3 class="mt-2" style="font-weight:inherit;">{{this.nombre}}</h3>
          </div>
        </button>
      </div>
    </form>
    {{/each}}
  </div>
  {{else}}
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="alert alert-dark text-center shadow-sm p-4 rounded" role="alert" style="font-size: 1.1rem;">
        <i class="bi bi-info-circle me-2 fs-4"></i>
        There are no business types registered yet. Contact an admin.
      </div>
    </div>
  </div>
  {{/if}}
</div>