<div class="row">
  <div class="col col-md-1">
    <a href="/client/storesList" class="btn mt-2"><img
        src="\assets\imgs\site\svg\arrow_back_ios_50dp_982B2B_FILL0_wght400_GRAD0_opsz48.svg" alt=""></a>
  </div>
  <div class="col col-md-11">
    <div class="row justify-content-center mb-3">
      <div class="col-md-6 col-lg-4 me-5">
        <div class="row justify-content-center mb-4">
          <div class="col-auto">
            <h4 class="text-center">What are you looking for?</h4>
          </div>
        </div>
        <form method="GET" action="/client/storesList">
          <div class="input-group">
            <input type="hidden" name="TypeBtn" value="{{typeId}}" />
            <input type="text" name="BusinessFilter" class="form-control" placeholder="dominos pizza..." />
            <button type="submit" class="btn btn-danger">
              <i class="bi bi-search"></i> Search
            </button>
          </div>
        </form>
        <div class="row justify-content-center mb-4">
          <div class="col-auto">
            <h6 class="text-center text-muted">({{quantity}}) local/s found</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if hasBusinesses}}
<div class="row justify-content-center gap-3">
  {{#each businessesList}}
  <div class="card mb-2 px-3 py-2" style="max-width: 700px;">
    <a href="/client/store/home/{{this.id}}" class="btn">
      <div class="d-flex align-items-center">
        <img src="{{this.logo}}" alt="{{this.name}} logo" class="rounded"
          style="width: 60px; height: 60px; object-fit: cover;">
        <div class="d-flex align-items-center ms-3 w-100">
          <h5 class="fw-semibold">{{this.name}}</h5>
          {{!-- {{#if hasFavorites}}
          <form action="/client/favorites/add/delete" method="POST">
            <input type="hidden" name="userId" value="{{../user.id}}">
            <input type="hidden" name="businessId" value="{{this.id}}">
            <button type="submit" class="btn btn-danger"><i class="bi bi-heart"></i></button>
          </form>
          {{else}} --}}
          <form action="/client/favorites/add/favorite" method="POST">
            <input type="hidden" name="userId" value="{{../user.id}}">
            <input type="hidden" name="businessId" value="{{this.id}}">
            <button type="submit" class="btn"><img
                src="\assets\imgs\site\svg\heart_plus_30dp_982B2B_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
          </form>
          {{!-- {{/if}} --}}
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>
{{else}}

<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="alert alert-dark text-center shadow-sm p-4 rounded" role="alert" style="font-size: 1.1rem;">
      <i class="bi bi-info-circle me-2 fs-4"></i>
      There are no businesses of this type registered yet.
    </div>
  </div>
</div>
{{/if}}