<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/Css/Libraries/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/assets/Css/index.css" />
    {{{_sections.styles}}}
    <title>{{title}}</title>
</head>

<body class="store-body">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark shadow navbar-store" data-bs-theme="dark">
            <div class="container-fluid">
                <h3 class="m-3">STORE SETTINGS<i class="bi bi-person-fill-lock" width="40px" height="40px"></i></h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="row" id="fila-principal">
        <div class="col-1 col-sm-1">
            <section class="seccion-lateral-store shadow top-fixed">
                <ul class="nav-navbar">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/store/home">
                            <img src="\assets\imgs\site\svg\home_50dp_F3F3F3_FILL1_wght400_GRAD0_opsz48.svg" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store/mycomerce">
                            <img src="\assets\imgs\site\svg\account_circle_50dp_F3F3F3_FILL1_wght400_GRAD0_opsz48.svg"
                                alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store/product/index">
                            <img src="\assets\imgs\site\svg\local_mall_50dp_F3F3F3_FILL1_wght400_GRAD0_opsz48.svg"
                                alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store/category/index">
                            <img src="\assets\imgs\site\svg\category_50dp_F3F3F3_FILL1_wght400_GRAD0_opsz48.svg" alt="">
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">
                            <img src="\assets\imgs\site\svg\exit_to_app_50dp_F3F3F3_FILL1_wght400_GRAD0_opsz48.svg"
                                alt="">{{#if hasUser}}({{user.email}}){{/if}}
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-11 col-sm-11 " style="padding-right: 30px;">
            {{{body}}}
        </div>
        <div class="position-fixed top-0 end-0 m-5" style="max-width: 350px z-index: 9999;">
            {{#if hasErrors}}
            <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert" id="alerta">
                <ul>
                    {{#each errors}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            {{/if}}

            {{#if hasSuccess}}
            <div class="alert alert-success alert-dismissible fade show  mt-5" role="alert" id="alerta">
                <ul>
                    {{#each success}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            {{/if}}
        </div>
    </div>
    <script type="module" src="/assets/JavaScript/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/JavaScript/Libraries/bootstrap/bootstrap.min.js"></script>
    {{{_sections.scripts}}}
</body>