<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-5">
        {{#if isEditing}}
        <div class="card mt-5 shadow">
            <div class="card-header text-center" style="background-color:  #2A2C41; color:white">
                <h3 class="card-title">Edita el tipo {{type.nombre}}</h3>
            </div>
            <div class="card-body">
                <form action="/admin/storesTypes/edit/{{type.id}}" method="POST" class="form"
                    enctype="multipart/form-data">
                    <label for="logo" class="form-label mt-2" style="font-weight: bold;">Icono</label>
                    <input type="file" class="form-control" name="logo" id="logo">

                    <label for="name" class="form-label mt-2" style="font-weight: bold;">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{type.nombre}}" required>

                    <label for="description" class="form-label mt-2" style="font-weight: bold;">Descripcion</label>
                    <input type="text" class="form-control" name="description" id="description"
                        value="{{type.descripcion}}" required>

                    <div class="float-end mt-2">
                        <a href="/admin/storesTypes/home" class="btn btn-warning">Volver</a>
                        <button class="btn btn-dark" style="background-color:  #2A2C41;" type="subtmit">Editar</button>
                    </div>
                </form>
            </div>
        </div>
        {{else}}
        <div class="card mt-5 shadow">
            <div class="card-header text-center" style="background-color:  #2A2C41; color:white">
                <h3 class="card-title">Nuevo tipo de comercio</h3>
            </div>
            <div class="card-body">
                <form action="/admin/storesTypes/create" method="POST" class="form" enctype="multipart/form-data">
                    <label for="logo" class="form-label mt-2" style="font-weight: bold;">Icono</label>
                    <input type="file" class="form-control" name="logo" id="logo">

                    <label for="name" class="form-label mt-2" style="font-weight: bold;">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" required>

                    <label for="description" class="form-label mt-2" style="font-weight: bold;">Descripcion</label>
                    <input type="text" class="form-control" name="description" id="description" required>

                    <div class="float-end mt-2">
                        <a href="/admin/storesTypes/home" class="btn btn-warning">Volver</a>
                        <button class="btn btn-dark" style="background-color:  #2A2C41" type="subtmit">Crear</button>
                    </div>
                </form>
            </div>
        </div>
        {{/if}}
    </div>
</div>