<h3 class="text-center mb-5 mt-5 fw-bold">PRODUCTOS DEL COMERCIO</h3>

<div class="row w-75 m-auto">
    <div class="col-12 col-sm-4 mb-3 mt-3">
        <a href="/store/product/create" class="btn" style="background-color: wheat">Agregar
            <i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<div style="max-height: 500px; overflow-y: auto;">
    <table class="table text-center w-75 m-auto"
        style="border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(36,45,80,0.08);">
        {{#if hasProducts}}
        <div class="row">
            <thead>
                <tr>
                    <th style="background-color: wheat ; color: black; border: none;">Imagen</th>
                    <th style="background-color: wheat ; color: black; border: none;">Nombre</th>
                    <th style="background-color: wheat ; color: black; border: none;">Descripcion</th>
                    <th style="background-color: wheat ; color: black; border: none;">Precio</th>
                    <th style="background-color: wheat ; color: black; border: none;">Categoria</th>
                    <th style="background-color: wheat ; color: black; border: none;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr style="border: none; consulta-row">
                    <td style="border: none; background: #fffaf0;"><img src="{{this.imagen}}" alt="" width="60px"
                            height="60px"></td>
                    <td style=" border: none; background: #fffaf0">{{nombre}}</td>
                    <td style="border: none; background: #fffaf0">{{descripcion}}</td>
                    <td style="border: none; background: #fffaf0">{{precio}}</td>
                    <td style="border: none; background: #fffaf0">{{categoria.dataValues.nombre}}</td>
                    <td style="border: none; background: #fffaf0">
                        <form action="/store/product/delete" method="POST" class="form-eliminar">
                            <a href="/store/product/edit/{{id}}" class="btn btn-warning me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <input type="hidden" name="id" value={{id}} hidden>
                            <button type="submit" class="btn btn-danger me-2">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
    {{else}}
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-4">
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle-fill me-1"></i>No hay productos disponibles
            </div>
        </div>

    </div>
    {{/if}}
</div>
</div>