<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-5">
        {{#if isEditing}}
        <div class="card mt-5 shadow">
            <div class="card-header text-center" style="background-color: wheat ; color:white">
                <h3 class="card-title">Edita la categoria {{categorias.nombre}}</h3>
            </div>
            <div class="card-body">
                <form action="/store/category/edit/{{categorias.id}}" method="POST" class="form">
                    <label for="name" class="form-label mt-2" style="font-weight: bold;">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" value="{{categorias.nombre}}"
                        required>

                    <label for="description" class="form-label mt-2" style="font-weight: bold;">Descripcion</label>
                    <input type="text" class="form-control" name="description" id="description"
                        value="{{categorias.descripcion}}" required>

                    <div class="float-end mt-2">
                        <a href="/store/category/index" class="btn btn-warning">Volver</a>
                        <button class="btn" style="background-color: wheat ;" type="subtmit">Editar</button>
                    </div>
                </form>
            </div>
        </div>
        {{else}}
        <div class="card mt-5 shadow" style="border: none;">
            <div class="card-header text-center" style="background-color: wheat ; border: none;">
                <h3 class="card-title">Nueva categoria</h3>
            </div>
            <div class="card-body">
                <form action="/store/category/create" method="POST" class="form">

                    <label for="name" class="form-label mt-2" style="font-weight: bold;">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name" required>

                    <label for="description" class="form-label mt-2" style="font-weight: bold;">Descripcion</label>
                    <input type="text" class="form-control" name="description" id="description" required>

                    <div class="float-end mt-2">
                        <a href="/store/category/index" class="btn btn-warning">Volver</a>
                        <button class="btn" style="background-color: wheat ;" type="subtmit">Crear</button>
                    </div>
                </form>
            </div>
        </div>
        {{/if}}
    </div>
</div>