<h3 class="text-center mb-5 mt-5 fw-bold">CATEGORIAS DEL COMERCIO</h3>

<div class="row w-75 m-auto">
    <div class="col-12 col-sm-4 mb-3 mt-3">
        <a href="/store/category/create" class="btn" style="background-color: wheat">Agregar
            <i class="bi bi-plus-circle"></i></a>
    </div>
</div>

<div style="max-height: 500px; overflow-y: auto;">
    <table class="table text-center w-75 m-auto"
        style="border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(55, 58, 71, 0.337);">
        {{#if hasCategories}}
        <div class="row">
            <thead>
                <tr>
                    <th style="border: none; background-color:wheat">Nombre</th>
                    <th style="border: none; background-color:wheat">Descripcion</th>
                    <th style="border: none; background-color:wheat">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr style="border: none; consulta-row">
                    <td style="border: none; background-color: #fffaf0">{{nombre}}</td>
                    <td style="border: none; background-color: #fffaf0;">{{descripcion}}</td>
                    <td style="border: none; background-color: #fffaf0">
                        <form action="/store/category/delete" method="POST" class="form-eliminar">
                            <a href="/store/category/edit/{{id}}" class="btn btn-warning me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <input type=" hidden" name="id" value={{id}} hidden>
                            <button type="submit" class="btn btn-danger me-2">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
    {{else}}
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-4">
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-circle-fill me-1"></i>No hay categorias disponibles
            </div>
        </div>

    </div>
    {{/if}}
</div>
</div>